@import 'vars';
@import 'reset';
@import 'bootstrap/app';
@import 'detail';
@import 'breadcrumb';


html,
body {
  background-color: var(--background);
  color: var(--default-color);
  flex-shrink: 0;
  font-family: Proxima Nova,-apple-system, Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: resize(var(--size-12px));
  height: 100%;
  min-width: 100%;
  padding-right: 0 !important;

  main {
    align-items: stretch;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 100%;
    position: relative;

    header {
      background-color: var(--primary) !important;
      border-bottom: solid thin var(--light-grey);
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4) !important;
    }

    .container,
    .container-fluid {
      background-color: var(--background);
    }
  }

  a {
    color: var(--primary);

    &:hover {
      color: var(--primary);
      text-decoration: none;
    }
  }

  h2 {
    color: var(--black);
    font-size: 26px !important;
    line-height: 1.17;
    text-align: left;
  }

  h5 {
    color: var(--black);
    font-size: 24px;
    padding-bottom: 24px;
  }
}

.background-color {
  background-color: var(--background) !important;
}


.background-primary {
  background-color: var(--primary) !important;
}

.searcher-button {
  border-bottom: 1px solid #ced4da;
  border-left: 0 solid #ced4da;
  border-right: 1px solid #ced4da;
  border-top: 1px solid #ced4da;
  height: 37px;
}

.btn-info {
  background-color: var(--info) !important;
}
