.breadcrumbs * {
  background-color: var(--background);
  line-height: 0.5 !important;

  a,
  .breadcrumb-items {
    color: var(--grey) !important;
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
  margin-top: 8px;
}

.breadcrumbs > ol {
  background-color: inherit;
  margin: 0 !important;
  padding: 0 !important;
}
