body {
  background-color: var(--background);
  line-height: 1;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px !important;
    padding: 0;
  }
}

h1,
h2 {
  color: var(--black);
}
