:root {
  --default-color: #000 !important;
  --primary: #fff159 !important;
  --primary-hover: #f2e880 !important;
  --info: #2968c8 !important;
  --info-hover: #2470a0 !important;
  --error: #dd614a !important;
  --body-1: #4f4f4f !important;
  --body-2: #707070 !important;
  --warm-grey: #969696 !important;
  --light-grey: #ddd !important;
  --disable: #e0e0e0 !important;
  --background: #f5f5f5 !important;
  --black: #333 !important;
  --grey: #666 !important;
  --btn-width: 184px !important;
  --btn-height: 36px !important;
  --btn-border-radius: 6px !important;
  --size-border-radius: 6px;
}
